<div class="gestionloc-container" [class.gestionloc-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="bank-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon fontIcon="menu"></mat-icon></button>
    <h1 class="gestionloc-app-name">{{title}}</h1>
    <span class="fill-remaining-space"></span>
    <button mat-button [matMenuTriggerFor]="usermenu" *ngIf="socialUser?.email"><img mat-card-avatar src="{{socialUser.photoUrl}}" /> {{socialUser.firstName}} {{socialUser.lastName}}</button>
    <mat-menu #usermenu="matMenu">
      <button mat-menu-item>Configuration</button>
      <button mat-menu-item (click)="signOut()">Se déconnecter</button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="gestionloc-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" opened
                 [fixedInViewport]="true" fixedTopGap="56" >
      <mat-nav-list dense>
        <a mat-list-item routerLink="/"><i class="material-icons md-dark">home</i> Accueil</a>
        
        <h3 matSubheader>Administration</h3>
        <a mat-list-item routerLink="/admin/biens"><i class="material-icons md-dark">storage</i>Biens</a>
        <a mat-list-item routerLink="/admin/locations"><i class="material-icons md-dark">label</i>Locations</a>
        <a mat-list-item routerLink="/admin/locataires"><i class="material-icons md-dark">turned_in</i>Locataires</a>
        <a mat-list-item routerLink="/admin/parametres"><i class="material-icons md-dark">settings</i>Paramètres</a>
        
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <alert></alert>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
